<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="icon" href="favicon.ico" type="image/x-icon" />
  </head>
  <body>
    <h1>Bienvenido a <%= title %></h1>
    <p>Por de las preguntas de Pablo</p>
    <p><a href="quizes/question">Comience a jugar</a></p>
  </body>
</html>
